.divchat{background-color: #EEE;}
.bgwhite{background-color: #FFF !important;}
.m-t-10{margin-top: 10px;}
.m-b-10{margin-bottom: 10px;}
.inside-input{
  right: 1em;
  position:absolute;
  top: 0;
}
.pos-r{position: relative;}
.pos-a{position: absolute;}
.miopt{
	background-repeat: no-repeat;
	background-position: 100% 0;
}
h3{font-weight: bold;}
.header-logo{max-width: 110px;}
.mimodal{display: none;}
.al-right{text-align: right;}

@media screen and (max-width: 360px) {
  .header-logo{max-width: 74px;}
}
