.divchat{background-color: #EEE;}
.bgwhite{background-color: #FFF !important;}
.m-t-10{margin-top: 10px;}
.m-b-10{margin-bottom: 10px;}
.inside-input{
  right: 1em;
  position:absolute;
  top: 0;
}
.pos-r{position: relative;}
.pos-a{position: absolute;}
.miopt{
	background-repeat: no-repeat;
	background-position: 100% 0;
}
h3{font-weight: bold;}
.header-logo{max-width: 110px;}
.mimodal{display: none;}
.al-right{text-align: right;}

@media screen and (max-width: 360px) {
  .header-logo{max-width: 74px;}
}
.soft {padding: 10px;}
.soft--left {padding-left: 10px;}
.soft--right {padding-right: 10px;}
.soft--top {padding-top: 10px;}
.soft--bottom {padding-bottom: 10px;}

.page_content {width: 100%;}
ul.features_list_detailed li .feat_small_icon {position: static;}
ul.features_list_detailed li .feat_small_details h4 {position: static;}
.features_list_detailed .plus_icon {
  bottom: 0;
  right: 0;
}
